<footer id="footer">
  <div class="inner-content">
    <p class="first-child">© Institute of Public Health, University Hospital Heidelberg</p>
    <p class="last-child"><img src="{{site.baseurl}}/images/Coat_of_Arms_of_the_Republic_of_Malawi.png" alt="Republic Of Malawi" style="max-width:6%;height:auto;">
	<img src="{{site.baseurl}}/images/esther_logo.gif" alt="ESTHER Alliance" style="max-width:10%;height:auto;">
	<img src="{{site.baseurl}}/images/University_Hospital.gif" alt="University Hospital Heidelberg" style="max-width:10%;height:auto;"></p>
  </div>
</footer>
