<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "Home" %}class="active"{% endif %} href="{{site.baseurl}}/index.html">Home</a>
      <a {% if page.title == "Project" %}class="active"{% endif %} href="{{site.baseurl}}/project/">Project</a>
      <a {% if page.title == "Project" %}class="active"{% endif %} href="http://www.esther-magnet.org/moodle" target='_blank'>E-learning</a>
      <a {% if page.title == "Contact" %}class="active"{% endif %} href="{{site.baseurl}}/contact">Contact</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="facebook" href="https://www.facebook.com/EstherMagnetElearning" target='_blank'>Facebook</a>
    </div>
  </div>
</div>