<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "Home" %}class="active"{% endif %} href="{{site.baseurl}}index.html">Home</a>
      <a {% if page.title == "Project" %}class="active"{% endif %} href="{{site.baseurl}}project.html">Project</a>
      <a {% if page.title == "Contact" %}class="active"{% endif %} href="{{site.baseurl}}contact.html">Contact</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="facebook" href="#">Facebook</a>
    </div>
  </div>
</div>